.footer{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 12px;
    gap: 40px;
    cursor: pointer;
    :hover{
        color: #0fd819;
        scale: 1.1;
    }
}